@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

/*--------------------------- Body Part Start ---------------------------*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgb(43, 43, 43);
  background-image: linear-gradient(90deg, #1e1f33, #38496e 75%);
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.navbar {
  width: 100%;
  height: 142px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 16px;
}
.navbar .left_navbar {
  font-size: 23px;
  color: white;
  display: flex;
  flex-direction: row;
  width: 188px;
  justify-content: space-evenly;
  padding-top: 22px;
}
.navbar .left_center {
  padding: 22px 0px;
  display: flex;
  flex-direction: row;
}
.navbar .left_center input {
  width: 536px;
  height: 37px;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  border: 2px solid #5f5b5b;
  padding-left: 18px;
  color: white;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
.navbar .left_center button {
  width: 62px;
  height: 36px;
  border-top-right-radius: 9px;
  outline: none;
  border-bottom-right-radius: 9px;
  border: none;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar .left_center button span {
  font-size: 27px;
  font-weight: 700;
}
.navbar .right_navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 78px;
}
.navbar .right_navbar .first_rightNavbar,
.navbar .right_navbar .second_rightNavbar {
  font-size: 16px;
  color: rgb(190 183 183);
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-around;
  padding: 22px 0px;
  cursor: pointer;
}
.navbar .right_navbar .first_rightNavbar a {
  color: rgb(190 183 183);
  text-decoration: none;
  cursor: pointer;
}
.navbar .right_navbar .first_rightNavbar a:hover {
  color: rgb(245, 245, 245);
}
.navbar .right_navbar .second_rightNavbar:hover {
  color: rgb(245, 245, 245);
}
.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.body .top_body {
  width: 95%;
  display: flex;
  flex-direction: column;
  height: 64px;
  justify-content: space-between;
}
.body .top_body .top_body_part {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.body .top_body .top_body_part p {
  font-size: 25px;
  color: white;
  padding-right: 20px;
}
.body .top_body .top_body_part .select select {
  width: 120px;
  height: 31px;
  margin-right: 20px;
  font-size: 20px;
  padding-left: 6px;
  outline: none;
}
.body .top_body .top_body_part .twoButton {
  width: 184px;
  height: 42px;
  display: flex;
  flex-direction: row;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.buttons {
  background: #dfdfdf;
  padding: 2px;
  border-radius: 3px;
  position: relative;
  width: fit-content;
}
.buttons input {
  appearance: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 10px;
  background: #d9dadf;
  color: #171616;
  font-size: 15px;
  font-family: sans-serif;
  transition: all 0.3s;
}
.buttons input::before {
  content: attr(label);
  text-align: center;
}
.buttons input:checked {
  background: #242229;
  color: #f0f1f6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0px #808080;
}
.buttons input::before {
  content: attr(label);
  text-align: center;
}
.body .top_body .horizontalLine {
  border-bottom: 1px solid rgb(95 92 95 / 51%);
  height: 10px;
  width: 100%;
}
.body .bottom_body {
  width: 88%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 35px;
  justify-content: center;
}
.body .bottom_body .cards {
    width: 155px;
    display: flex;
    flex-direction: column;
    height: 261px;
    margin: 27px;
    margin-bottom: 80px;
    position: relative;
}
.body .bottom_body .cards:hover {
  transform: scale(1.1, 1.1);
  transition: 0.4s;
}
.body .bottom_body .cards a {
  text-decoration: none;
}
.body .bottom_body .cards .image img {
  width: 155px;
  height: 228px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 60%);
  transition: box-shadow 0.35s;
}
.body .bottom_body .cards .card_content {
  padding-left: 6px;
  padding-top: 3px;
}
.body .bottom_body .cards .card_content .cardContent_heading {
  font-size: 15px;
  color: white;
  font-weight: 700;
}
.body .bottom_body .cards .card_content .spans {
  padding-bottom: 4px;
}
.body .bottom_body .cards .card_content .spans span {
  font-size: 12px;
  color: #6c7a9b;
}
.body .bottom_body .cards .card_content .year {
  font-size: 11px;
  color: #6c7a9b;
  font-weight: 900;
}
.body .bottom_body .cards .circle {
    position: absolute;
    top: -20px;
    left: 118px;

    height: 50px;
    width: 50px;
    /* border: 4px solid rgb(107, 225, 107); */
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c0c0c5e;
    color: #fefeff;
    font-size: 14px;
}
.body .bottom_body .cards .circle .under_circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*---------------------- Media Query Part Start -----------------------*/

@media (max-width: 989px) {
  .navbar .left_center input {
    width: 400px;
  }
}
@media (max-width: 847px) {
  .navbar .left_center input {
    width: 290px;
  }
}
@media (max-width: 735px) {
  .navbar .left_center input {
    width: 200px;
  }
  .navbar .left_center button {
    width: 55px;
    height: 36px;
  }
  .body .top_body .top_body_part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 643px) {
  .navbar .left_center input {
    width: 400px;
  }
  .navbar .left_center button {
    width: 65px;
    height: 36px;
  }
  .navbar .left_center {
    position: absolute;
    top: 49px;
    left: 93px;
  }
}
@media (max-width: 589px) {
  .navbar .left_center input {
    width: 270px;
  }
  .navbar .left_center {
    left: 104px;
  }
}
@media (max-width: 504px) {
  .navbar .left_center {
    left: 84px;
  }
}
@media (max-width: 459px) {
  .navbar .left_center {
    left: 53px;
  }
  .body .top_body {
    height: 156px;
  }
  .body .top_body .top_body_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 328px;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
@media (max-width: 413px) {
  .navbar .left_center {
    left: 40px;
  }
}
@media (max-width: 413px) {
  .navbar .left_center {
    left: 66px;
  }
  .navbar .left_center input {
    width: 200px;
  }
}
@media (max-width: 361px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 173px;
    align-items: center;
  }
  .navbar .left_center {
    left: 44px;
  }
}
@media (max-width: 331px) {
  .navbar .left_center {
    left: 31px;
  }
}
@media (max-width: 315px) {
  .navbar .left_center {
    left: 25px;
  }
  .navbar .left_center input {
    width: 191px;
  }
  .navbar .left_center button {
    width: 39px;
  }
}
